[submodule "android_native/EasyMediaTransformer"]
	path = android_native/EasyMediaTransformer
	url = https://github.com/easybangumiorg/EasyMediaTransformer
[submodule "android_native/EasyPlayer2"]
	path = android_native/EasyPlayer2
	url = https://github.com/easybangumiorg/EasyPlayer2
